<p *ngIf="!loaded">Loading ...</p>
<form
  [formGroup]="movieForm"
  (ngSubmit)="saveMovie()"
  class="movie-form"
  *ngIf="loaded"
>
  <mat-form-field class="full-width">
    <input matInput placeholder="Title" formControlName="title" id="txtTitle" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Year" formControlName="year" id="txtYear" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <input
      matInput
      placeholder="Budget"
      formControlName="budget"
      id="txtBudget"
    />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Genres</mat-label>
    <mat-select formControlName="category_ids" multiple>
      <mat-option
        *ngFor="let category of categories$ | async"
        [value]="category.id"
        >{{ category.title }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <button mat-button [disabled]="!movieForm.valid" id="btnAdd">Save</button>
  <button mat-button id="btnCancel" [routerLink]="['']">Cancel</button>
</form>
