<a mat-button id="btnAddMovie" [routerLink]="['/movie']">Add Movie</a>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
<mat-grid-list cols="3" rowHeight="1:2" *ngIf="movies; else loading">
  <mat-grid-tile *ngFor="let movie of movies">
    <mat-card class="movie-card">
      <mat-card-header>
        <div mat-card-avatar class="movie-header-image"></div>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle>{{ movie.year }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcST7qsVlHPBGfX50rdAAZKU0jbuS6xlI1CWJKFaLlaC9Rci590Kyg"
        [alt]="movie.name"
      />
      <mat-card-content>
        <p>
          {{ movie.budget }}
        </p>
        <mat-chip-list #chipList aria-label="Genres">
          <mat-chip *ngFor="let category of movie.categories">
            {{ category.title }}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['movie', movie.id]">Edit</button>
        <button mat-button (click)="removeMovie(movie)">Remove</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
